recursive-include urlup *.py
recursive-include tests *.py
recursive-include .graphics *.svg
recursive-include .graphics *.png
include README.md
include LICENSE
include requirements.txt
include codemeta.json
